<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
/>

<section class="relative">
  <div id="welcomeBanner" class="relative bg-sky-500 w-full">
    <div class="container mx-auto relative z-50">
      <div class="text-center px-20 py-60 w-full md:w-8/12 mx-auto">
        <h1 class="text-7xl font-bold uppercase mb-2">Code X Tile</h1>
        <p>wellcome to codextile</p>
      </div>
    </div>
  </div>
  <div
    id="diaSticker"
    class="absolute h-28 -bottom-20 right-0 left-0 content-none bg-slate-200 -skew-y-1 z-10"
  ></div>

  <div
    id="diaSticker"
    class="absolute h-28 -bottom-36 right-0 left-0 content-none bg-slate-200 skew-y-1 z-10"
  ></div>
</section>
<section class="bg-sky-900 h-screen">
  <div class="relative py-24 flex justify-around z-10">
    <!-- Recommnded Subjects -->

    <div
      id="card"
      class="bg-white w-96 h-56 border-slate-500 border-solid ring-2 rounded-md"
    >
      <div class="flex flex-col text-center m-4 p-1">
        <h3 class="text-2xl">DevOps</h3>
        <div id="cardTitle" class="text-xl m-6">GCP AWS</div>
        <span class="text-slate-800 text-7xl mb-2">
          <i class="devicon-googlecloud-plain m-2"></i>
          <i class="devicon-amazonwebservices-original m-2"></i>
        </span>
      </div>
    </div>
    <!--  -->
    <div
      id="card"
      class="bg-white w-96 h-56 border-slate-500 border-solid ring-2 rounded-md"
    >
      <div class="flex flex-col text-center m-4 p-1">
        <h3 class="text-2xl">Frontend</h3>
        <div id="cardTitle" class="text-xl m-6">Angular Tailwindcss</div>
        <span class="text-slate-800 text-7xl mb-2">
          <i class="devicon-angularjs-plain m-2"></i>
          <i class="devicon-tailwindcss-plain m-2"></i>
        </span>
      </div>
    </div>
    <!--  -->
    <div
      id="card"
      class="bg-white w-96 h-56 border-slate-500 border-solid ring-2 rounded-md"
    >
      <div class="flex flex-col text-center m-4 p-1">
        <h3 class="text-2xl">Backend</h3>
        <p id="cardTitle" class="text-xl m-6">Firebase MongoDB</p>
        <span class="text-slate-800 text-7xl mb-2">
          <i class="devicon-firebase-plain"></i>
          <i class="devicon-mongodb-plain"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="relative py-24 flex justify-around z-10">
    <!-- Recommnded Subjects -->

    <div
      id="card"
      class="bg-white w-[768] h-56 border-slate-500 border-solid ring-2 rounded-md"
    >
      <div class="flex flex-col text-center m-4 p-1">
        <h3 class="text-2xl">lorem</h3>
        <p class="text-xl mt-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga,
          deleniti?
        </p>
        <span class="">icon</span>
      </div>
    </div>
  </div>
</section>
<section class="bg-sky-900 h-screen"></section>
