.home {
  width: 100rem;
  height: 247rem;
  background: #fff;
}

.my-portfolio {
  color: #333;
  text-align: center;

  /* Heading/H3 24px */
  font-size: 1.5rem;
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}

.rect3103 {
  width: 100rem;
  height: 49.25rem;
  flex-shrink: 0;
  background: #f2f8f7;
}
