<div class="mt-6 flex justify-center">
  <div class="w-3/12 flex-col">
    <div class="my-10 flex justify-center">
      <span class="text-5xl underline text-slate-300"> Login </span>
    </div>
    <!-- Email -->
    <form class="flex flex-col">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          [formControl]="email"
          placeholder="Ex@example.com"
        />
        <mat-error
          *ngIf="email.hasError('email') && !email.hasError('required')"
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- Password -->

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          type="email"
          matInput
          [formControl]="password"
          placeholder="Password"
        />
        <mat-error
          *ngIf="
            password.hasError('minlength') && !password.hasError('required')
          "
        >
          Please enter a valid
          {{ password.errors?.['minlength'].actualLength }}
        </mat-error>
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</div>
